<!DOCTYPE html>
<html>
<head>
	<meta name="robots" content="noindex, nofollow">
	<meta name="date" content="{time()|date: 'd.m. Y'}">
	<meta http-equiv="Expires" content="0">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	{block head}{/block}

	<title>{$name}</title>
	<style n:syntax="double">

		/*@font-face {
			font-family: OpenSans;
			font-style: normal;
			font-weight: 400;
			src: url(http://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3aCWcynf_cDxXwCLxiixG1c.ttf) format("truetype");
		}*/


		body {
			font-family: DejaVu Sans;
			font-size: 10px;
			background: {{$background|noescape}};
			border: none;
			margin: 0;
			padding: 0;
			float: none;
		}

		@page {
			size: {{$size}};
			margin: {{$margin|noescape}};
		}

		section,
		.page-break,
		.page-break-after {
			float: none;
			display: block; /** This have to be for get it working */
			break-after: page;
			page-break-after: always;
		}

		.page-break-before {
			float: none;
			display: block; /** This have to be for get it working */
			break-before: page;
			page-break-before: always;
		}

		h1, h2, h3, h4, h5, h6 {
			page-break-after: avoid;
		}

		header,
		footer,
		#header,
		#footer {
			position: fixed;
			bottom: 0;
			left: 0;
			right: 0;
		}

		.page-number {
			display: block;
		}

		.page-number:after {
			content: counter(page);
			display: inline;
		}

		.container {
			display: flex;
			flex-direction: row;
		}

		.container .item {
			flex-grow: 1;
			flex-basis: auto;
		}

	</style>

	{block styles}{/block}

	<script n:if="$isAutoPrintEnabled">
		window.onload = window.print();
	</script>
</head>
<body>
		{block header}{/block}
		{foreach $entities as $entity}
			{include content 'iterator' => $iterator, 'entity' => $entity, 'options' => $options}
		{/foreach}
		{block footer}{/block}
</body>
</html>
